.container {
  width: 650px;
  height: 500px;
  border: 1px solid #000;
  background-color: #f2edd5;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.search-Button {
  background-color: #8ab9d0;
  color: white;
  border: 2px solid;
  border-radius: 10px;
  padding: 6px 12px;
  font-size: 12px;
}
.current-Button {
  background-color: #aa9ec3;
  color: white;
  border: 2px solid;
  border-radius: 10px;
  padding: 6px 12px;
  font-size: 12px;
}

h1 {
  font-size: 30px;
  font-weight: lighter;
  color: black;
  font-family: "Poppins", sans-serif;
  margin: 8px;
  line-height: 28px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

p {
  font-size: 15px;
  font-weight: lighter;
  color: black;
  font-family: "Poppins", sans-serif;
  margin: 5 auto;
  margin-left: 10px;
  text-align: left;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
.row {
  justify-content: space-between;
}
